body{
    background-color: lavender;
}

input {
    font-family: sans-serif;
    background-color:lavender;
    border: 2px solid #90a58a
}

button {
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #99b093;
    transition: .2s ease-in-out;
}

button:hover {
    background-color: #81947c;
}

#weatherDiv {
    margin-top: 2em;
    padding: 1.5em;
    border: 2px solid #90a58a;
    max-width: 200px;
}